# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=LATS Core
Comment=LATS Core QT test network
GenericName=LATS Digital Currency QT client testnet network
Exec=lats-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/lats_testnet.png
MimeType=x-scheme-handler/lats;
Categories=X-Office;X-Finance;
Keywords=internet;lats;zlats;tlats;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
