# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=LATS Core Daemon SNAP
Comment=main
GenericName=LATS Digital Currency Daemon Client main network
Exec=lats-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/lats.png
MimeType=x-scheme-handler/lats;
Categories=X-Office;X-Finance;
Keywords=internet;lats;zlats;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
